# NB02: Data Processing

In [1]:
import requests
from dotenv import load_dotenv
from functions import *
from bs4 import BeautifulSoup
from pprint import pprint
from auth import *
import base64
import os
import pandas as pd
import json
import csv
import string
import lyricsgenius
import sqlite3
from sqlalchemy import create_engine

In [2]:
access_token = get_token()

In [3]:
with open('../data/raw/combined_top_hits.json', 'r') as f:
    data = json.load(f)

In [4]:
tracks = []
for item in data['items']:
    track = item.get('track', {})
    track_name = track.get('name')
    track_id = track.get('id')
    artists = ", ".join(artist['name'] for artist in track.get('artists', []))  # Combine all artist names
    tracks.append({'Track Name': track_name, 'Track ID': track_id, 'Artists': artists})

In [5]:
top_hits = pd.DataFrame(tracks)
top_hits

,Track Name,Track ID,Artists
0,Into You,76FZM38RC8XaAjJ77CVTNe,Ariana Grande
1,Glad You Came,5yDL13y5giogKs2fSNf7sj,The Wanted
2,Dark Horse,5jrdCoLpJSvHHorevXBATy,"Katy Perry, Juicy J"
3,Who Knew - Edit,2hns6Dv29Yrg68AVTJiAyA,P!nk
4,Closer,7BKLCZ1jbUBVqRi2FVlTVw,"The Chainsmokers, Halsey"
...,...,...,...
268,Training Season,6Qb7YsAqH4wWFUMbGsCpap,Dua Lipa
269,What Makes You Beautiful,4cluDES4hQEUhmXj6TXkSo,One Direction
270,I'm Not The Only One,7795WJLVKJoAyVoOtCWqXN,Sam Smith
271,Stockholm,198asGCZWwoQVdLxYSlPTx,Jubël
272,Water,5aIVCx5tnk0ntmdiinnYvw,Tyla

In [6]:
# Step 1: Normalize the artist names
top_hits['Artists'] = top_hits['Artists'].str.lower().str.strip()

# Step 2: Handle featured artists and combine them into the same 'Artists' column
def combine_artists(artist_column):
    # Check if 'feat' exists, and if so, split and merge artists
    if 'feat' in artist_column:
        # Split the main artist and featured artist(s) and remove any extra spaces
        artists = artist_column.split('feat')
        main_artist = artists[0].strip()
        featured_artists = artists[1].strip()
        # Combine main artist with featured artists, avoiding duplicates
        combined_artists = main_artist + ' feat ' + ', '.join(sorted(set(featured_artists.split(','))))
    else:
        # If no featured artists, return the original
        combined_artists = artist_column
    return combined_artists

top_hits['Artists'] = top_hits['Artists'].apply(combine_artists)

# Step 3: Clean up the 'feat' section, making sure it looks clean
top_hits['Artists'] = top_hits['Artists'].str.replace('feat.', 'feat', case=False)

# Step 4: Remove any extra spaces around the artists' names and count the number of artists
top_hits['Artists'] = top_hits['Artists'].str.strip()
top_hits['Artist Count'] = top_hits['Artists'].apply(lambda x: len(set(x.split(','))))

# Display to verify changes
print(top_hits[['Track Name', 'Artists', 'Artist Count']].head())

        Track Name                   Artists  Artist Count
0         Into You             ariana grande             1
1    Glad You Came                the wanted             1
2       Dark Horse       katy perry, juicy j             2
3  Who Knew - Edit                      p!nk             1
4           Closer  the chainsmokers, halsey             2

In [7]:
duplicates = top_hits.duplicated()
print(duplicates.any())

True

In [8]:
duplicate_rows = top_hits[top_hits.duplicated()]
print(duplicate_rows)

            Track Name                Track ID       Artists  Artist Count
184  Sign of the Times  5Ohxk2dO5COHF1krpoPigN  harry styles             1

In [9]:
top_hits_clean = top_hits.drop_duplicates(keep='first')

In [10]:
top_hits_clean = top_hits_clean.copy()

In [11]:
top_hits_clean.loc[:, 'Track Name'] = top_hits_clean['Track Name'].str.lower()
top_hits_clean.loc[:, 'Artists'] = top_hits_clean['Artists'].str.lower()
top_hits_clean.loc[:, 'Track Name'] = top_hits_clean['Track Name'].str.strip()
top_hits_clean.loc[:, 'Artists'] = top_hits_clean['Artists'].str.strip()

In [12]:
top_hits_clean = top_hits_clean.assign(Artists=top_hits_clean['Artists'].str.split(', ')).explode('Artists')
top_hits_clean['Artists'] = top_hits_clean['Artists'].str.replace(', ', ' & ')

In [13]:
top_hits_clean['Track Name'] = top_hits_clean['Track Name'].str.replace(r'[^\w\s]', '', regex=True)

In [14]:
top_hits_clean['Artists'] = top_hits_clean['Artists'].astype('category')

In [15]:
top_hits_clean.to_csv('../data/top_hits.csv', index=False)

In [16]:
top_hits_data = pd.read_csv('../data/top_hits.csv')
top_hits_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Track Name    347 non-null    object
 1   Track ID      347 non-null    object
 2   Artists       347 non-null    object
 3   Artist Count  347 non-null    int64
dtypes: int64(1), object(3)
memory usage: 11.0+ KB

### Working on Women Pop

In [17]:
with open('../data/raw/combined_women_pop.json', 'r') as f:
    data = json.load(f)

In [18]:
tracks = []
for item in data['items']:
    track = item.get('track', {})
    track_name = track.get('name')
    track_id = track.get('id')
    artists = ", ".join(artist['name'] for artist in track.get('artists', []))  # Combine all artist names
    tracks.append({'Track Name': track_name, 'Track ID': track_id, 'Artists': artists})

In [19]:
women_pop = pd.DataFrame(tracks)
women_pop

,Track Name,Track ID,Artists
0,It's ok I'm ok,24XihnoVPWXlKJ4BgXqjVM,Tate McRae
1,Espresso,2qSkIjg1o9h3YT9RAgYN75,Sabrina Carpenter
2,That’s So True,7ne4VBA60CxGM75vw0EYad,Gracie Abrams
3,Teenage Dream,55qBw1900pZKfXJ6Q9A2Lc,Katy Perry
4,bye,1Rweq7vNjK4kZBbGrmxQsl,Ariana Grande
...,...,...,...
275,Pour It Up,5r67bGhYXZNqk2m2Wupfmu,Rihanna
276,Right Now,42Ow7PS3YtCWplolUUigDo,"Rihanna, David Guetta"
277,Pink Pony Club,1k2pQc5i348DCHwbn5KTdc,Chappell Roan
278,Si Antes Te Hubiera Conocido,6WatFBLVB0x077xWeoVc2k,KAROL G
279,You'll Always Find Your Way Back Home,12wSL3tGk3MtbDEhfG7xy3,Hannah Montana

In [20]:
# Step 1: Normalize the artist names
women_pop['Artists'] = women_pop['Artists'].str.lower().str.strip()

# Step 2: Handle featured artists and combine them into the same 'Artists' column
def combine_artists(artist_column):
    # Check if 'feat' exists, and if so, split and merge artists
    if 'feat' in artist_column:
        # Split the main artist and featured artist(s) and remove any extra spaces
        artists = artist_column.split('feat')
        main_artist = artists[0].strip()
        featured_artists = artists[1].strip()
        # Combine main artist with featured artists, avoiding duplicates
        combined_artists = main_artist + ' feat ' + ', '.join(sorted(set(featured_artists.split(','))))
    else:
        # If no featured artists, return the original
        combined_artists = artist_column
    return combined_artists

women_pop['Artists'] = women_pop['Artists'].apply(combine_artists)

# Step 3: Clean up the 'feat' section, making sure it looks clean
women_pop['Artists'] = women_pop['Artists'].str.replace('feat.', 'feat', case=False)

# Step 4: Remove any extra spaces around the artists' names and count the number of artists
women_pop['Artists'] = women_pop['Artists'].str.strip()
women_pop['Artist Count'] = women_pop['Artists'].apply(lambda x: len(set(x.split(','))))

# Display to verify changes
print(women_pop[['Track Name', 'Artists', 'Artist Count']].tail())

                                Track Name                Artists  \
275                             Pour It Up                rihanna
276                              Right Now  rihanna, david guetta
277                         Pink Pony Club          chappell roan
278           Si Antes Te Hubiera Conocido                karol g
279  You'll Always Find Your Way Back Home         hannah montana

     Artist Count
275             1
276             2
277             1
278             1
279             1

In [21]:
duplicates = women_pop.duplicated()
print(duplicates.any())

True

In [22]:
duplicate_rows = women_pop[women_pop.duplicated()]
print(duplicate_rows)

      Track Name                Track ID    Artists  Artist Count
201  Bad Romance  0SiywuOBRcynK0uKGWdCnn  lady gaga             1

In [23]:
women_pop_clean = women_pop.drop_duplicates(keep='first')

In [24]:
women_pop_clean = women_pop_clean.copy()

In [25]:
women_pop_clean.loc[:, 'Track Name'] = women_pop_clean['Track Name'].str.lower()
women_pop_clean.loc[:, 'Artists'] = women_pop_clean['Artists'].str.lower()
women_pop_clean.loc[:, 'Track Name'] = women_pop_clean['Track Name'].str.strip()
women_pop_clean.loc[:, 'Artists'] = women_pop_clean['Artists'].str.strip()

In [26]:
women_pop_clean = women_pop_clean.assign(Artists=women_pop_clean['Artists'].str.split(', ')).explode('Artists')
women_pop_clean['Artists'] = women_pop_clean['Artists'].str.replace(', ', ' & ')

In [27]:
women_pop_clean['Track Name'] = women_pop_clean['Track Name'].str.replace(r'[^\w\s]', '', regex=True)

In [28]:
women_pop_clean['Artists'] = women_pop_clean['Artists'].astype('category')

In [29]:
women_pop_clean.to_csv('../data/women_pop.csv', index=False)

In [30]:
women_pop_data = pd.read_csv('../data/women_pop.csv')
women_pop_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Track Name    337 non-null    object
 1   Track ID      337 non-null    object
 2   Artists       337 non-null    object
 3   Artist Count  337 non-null    int64
dtypes: int64(1), object(3)
memory usage: 10.7+ KB

In [31]:
playlist_df = pd.concat([top_hits_data, women_pop_data], ignore_index=True)

# Save the combined DataFrame to a new CSV
playlist_df.to_csv('../data/playlists.csv', index=False)

# Optionally, print the combined DataFrame
print(playlist_df)

                               Track Name                Track ID  \
0                                into you  76FZM38RC8XaAjJ77CVTNe
1                           glad you came  5yDL13y5giogKs2fSNf7sj
2                              dark horse  5jrdCoLpJSvHHorevXBATy
3                              dark horse  5jrdCoLpJSvHHorevXBATy
4                          who knew  edit  2hns6Dv29Yrg68AVTJiAyA
..                                    ...                     ...
679                             right now  42Ow7PS3YtCWplolUUigDo
680                             right now  42Ow7PS3YtCWplolUUigDo
681                        pink pony club  1k2pQc5i348DCHwbn5KTdc
682          si antes te hubiera conocido  6WatFBLVB0x077xWeoVc2k
683  youll always find your way back home  12wSL3tGk3MtbDEhfG7xy3

            Artists  Artist Count
0     ariana grande             1
1        the wanted             1
2        katy perry             2
3           juicy j             2
4              p!nk             1
..              ...           ...
679         rihanna             2
680    david guetta             2
681   chappell roan             1
682         karol g             1
683  hannah montana             1

[684 rows x 4 columns]

In [32]:
playlist_df = pd.read_csv('../data/playlists.csv')

# Check for duplicate rows (based on all columns)
duplicates = playlist_df[playlist_df.duplicated()]

# Display the duplicate rows
print(duplicates)

                                       Track Name                Track ID  \
352                                good luck babe  0WbMK4wrZ1wFSty9F7FCgu
353                                 call me maybe  20I6sIOMTCkB6w7ryavxtO
356                                         apple  19RybK6XDbAVpcdxSbZL1o
370                                        greedy  3rUGC1vUpkDG9CZFHMur1t
371                               i kissed a girl  14iN3o8ptQ8cFVZTEmyQRV
372                              party in the usa  3E7dfMvvCLUddWissuqMwr
374                                       yes and  7gaA3wERFkFkgivjwbSvkG
389                            oopsi did it again  6naxalmIoLFWR0siv8dnQQ
393                                     telephone  6nCDnzErqalOaIY3EJM8NK
394                                     telephone  6nCDnzErqalOaIY3EJM8NK
399                                  we cant stop  2y4lAQpi5VTNLu2ldeTdUH
417        dance the night  from barbie the album  1vYXt7VSjH9JIM5oRRo7vA
428         we cant be friends wait for your love  51ZQ1vr10ffzbwIjDCwqm4
455                                     rich girl  2Y2q7PkD7lvuWr8YaZfWuv
456                                     rich girl  2Y2q7PkD7lvuWr8YaZfWuv
494                                          baby  6epn3r7S14KUqlReYr77hA
495                                          baby  6epn3r7S14KUqlReYr77hA
496                                         toxic  6I9VzXrHxO9rA9A5euc8Ak
507                                       flowers  7DSAEUvxU8FajXtRloy8M0
515  barbie world with aqua from barbie the album  741UUVE2kuITl0c6zuqqbO
516  barbie world with aqua from barbie the album  741UUVE2kuITl0c6zuqqbO
517  barbie world with aqua from barbie the album  741UUVE2kuITl0c6zuqqbO
530                               training season  6Qb7YsAqH4wWFUMbGsCpap
537                                      into you  76FZM38RC8XaAjJ77CVTNe
547                                       tik tok  0HPD5WQqrq7wPWR7P7Dw1i
548                                   bad romance  0SiywuOBRcynK0uKGWdCnn
554                                     love song  4E6cwWJWZw2zWf7VFbH7wf
565                              a thousand miles  4pextOBn0xoPnKf7qrDjWg
574                                       houdini  6D8y7Bck8h11byRY88Pt2z
581                                           sos  30cSNer6TV8x2utjULVeQ5
582                                     starships  2EBCVPNAG46nbgs6jXPGvv
586                                      dont cha  4o3cq2szX7THGyZDsWtp59
587                                      dont cha  4o3cq2szX7THGyZDsWtp59
588                                     price tag  2fTsFCKRFQ5M0igJgabnLA
589                                     price tag  2fTsFCKRFQ5M0igJgabnLA
618                                      applause  5ka2ajep9OAvU5Sgduhiex
619                                still into you  1yjY7rpaAQvKwpdUliHx0d
639                       crazy in love feat jayz  5IVuqXILoxVWvWEPm82Jxr
640                       crazy in love feat jayz  5IVuqXILoxVWvWEPm82Jxr
641                                 what the hell  2z4U9d5OAA4YLNXoCgioxo
647                            baby one more time  3MjUtNVVq3C8Fn0MP3zhXa
648                            you drive me crazy  1DSJNBNhGZCigg9ll5VeZv
650                                  cruel summer  1BxfuPKGuaTgP7aM0Bbdwr
651                                         water  5aIVCx5tnk0ntmdiinnYvw
661                                 we found love  0U10zFw4GlBacOy9VDGfGL
662                                 we found love  0U10zFw4GlBacOy9VDGfGL
663                     this is what you came for  0azC730Exh71aQlOt9Zj3y
664                     this is what you came for  0azC730Exh71aQlOt9Zj3y

                Artists  Artist Count
352       chappell roan             1
353    carly rae jepsen             1
356          charli xcx             1
370          tate mcrae             1
371          katy perry             1
372         miley cyrus             1
374       ariana grande             1
389      britney spears             1
393           lady gaga             2
394             beyoncé             2
399         miley cyrus             1
417            dua lipa             1
428       ariana grande             1
455        gwen stefani             2
456                 eve             2
494       justin bieber             2
495            ludacris             2
496      britney spears             1
507         miley cyrus             1
515         nicki minaj             3
516           ice spice             3
517                aqua             3
530            dua lipa             1
537       ariana grande             1
547               kesha             1
548           lady gaga             1
554      sara bareilles             1
565     vanessa carlton             1
574            dua lipa             1
581             rihanna             1
582         nicki minaj             1
586  the pussycat dolls             2
587        busta rhymes             2
588            jessie j             2
589               b.o.b             2
618           lady gaga             1
619            paramore             1
639             beyoncé             2
640               jay-z             2
641       avril lavigne             1
647      britney spears             1
648      britney spears             1
650        taylor swift             1
651                tyla             1
661             rihanna             2
662       calvin harris             2
663       calvin harris             2
664             rihanna             2

In [33]:
# Remove duplicates (keep the first occurrence)
playlists_clean = playlist_df.drop_duplicates()

# Or, if you want to remove duplicates based on specific columns (e.g., 'Track Name' and 'Artists')
playlists_clean = playlist_df.drop_duplicates(subset=['Track Name', 'Artists'])

# Display the cleaned DataFrame
print(playlists_clean)

                               Track Name                Track ID  \
0                                into you  76FZM38RC8XaAjJ77CVTNe
1                           glad you came  5yDL13y5giogKs2fSNf7sj
2                              dark horse  5jrdCoLpJSvHHorevXBATy
3                              dark horse  5jrdCoLpJSvHHorevXBATy
4                          who knew  edit  2hns6Dv29Yrg68AVTJiAyA
..                                    ...                     ...
679                             right now  42Ow7PS3YtCWplolUUigDo
680                             right now  42Ow7PS3YtCWplolUUigDo
681                        pink pony club  1k2pQc5i348DCHwbn5KTdc
682          si antes te hubiera conocido  6WatFBLVB0x077xWeoVc2k
683  youll always find your way back home  12wSL3tGk3MtbDEhfG7xy3

            Artists  Artist Count
0     ariana grande             1
1        the wanted             1
2        katy perry             2
3           juicy j             2
4              p!nk             1
..              ...           ...
679         rihanna             2
680    david guetta             2
681   chappell roan             1
682         karol g             1
683  hannah montana             1

[618 rows x 4 columns]

In [34]:
# Step 2: Create an SQLAlchemy engine to connect to the SQLite database (or create it if it doesn't exist)
engine = create_engine('sqlite:///../data/spotify_data.db', echo=True)

# Step 3: Save the DataFrame to the SQLite database (table name: 'top_hits')
playlists_clean.to_sql('playlists', engine, if_exists='replace', index=False)

2024-11-29 10:51:59,999 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-29 10:52:00,000 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("playlists")
2024-11-29 10:52:00,000 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-29 10:52:00,000 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("playlists")
2024-11-29 10:52:00,001 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-29 10:52:00,001 INFO sqlalchemy.engine.Engine
CREATE TABLE playlists (
	"Track Name" TEXT,
	"Track ID" TEXT,
	"Artists" TEXT,
	"Artist Count" BIGINT
)


2024-11-29 10:52:00,001 INFO sqlalchemy.engine.Engine [no key 0.00021s] ()
2024-11-29 10:52:00,004 INFO sqlalchemy.engine.Engine INSERT INTO playlists ("Track Name", "Track ID", "Artists", "Artist Count") VALUES (?, ?, ?, ?)
2024-11-29 10:52:00,004 INFO sqlalchemy.engine.Engine [generated in 0.00131s] [('into you', '76FZM38RC8XaAjJ77CVTNe', 'ariana grande', 1), ('glad you came', '5yDL13y5giogKs2fSNf7sj', 'the wanted', 1), ('dark horse', '5jrdCoLpJSvHHorevXBATy', 'katy perry', 2), ('dark horse', '5jrdCoLpJSvHHorevXBATy', 'juicy j', 2), ('who knew  edit', '2hns6Dv29Yrg68AVTJiAyA', 'p!nk', 1), ('closer', '7BKLCZ1jbUBVqRi2FVlTVw', 'the chainsmokers', 2), ('closer', '7BKLCZ1jbUBVqRi2FVlTVw', 'halsey', 2), ('greedy', '3rUGC1vUpkDG9CZFHMur1t', 'tate mcrae', 1)  ... displaying 10 of 618 total bound parameter sets ...  ('si antes te hubiera conocido', '6WatFBLVB0x077xWeoVc2k', 'karol g', 1), ('youll always find your way back home', '12wSL3tGk3MtbDEhfG7xy3', 'hannah montana', 1)]
2024-11-29 10:52:00,006 INFO sqlalchemy.engine.Engine COMMIT

618

### Working with the data

#### Part 1: Top Hits

In [35]:
query = "SELECT artists FROM playlists"
artists_df = pd.read_sql(query, engine)

# Display the first few rows to check the data
print(artists_df.head())

2024-11-29 10:52:00,013 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-29 10:52:00,014 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT artists FROM playlists")
2024-11-29 10:52:00,014 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-29 10:52:00,015 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT artists FROM playlists")
2024-11-29 10:52:00,015 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-29 10:52:00,015 INFO sqlalchemy.engine.Engine SELECT artists FROM playlists
2024-11-29 10:52:00,015 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-29 10:52:00,017 INFO sqlalchemy.engine.Engine ROLLBACK
         Artists
0  ariana grande
1     the wanted
2     katy perry
3        juicy j
4           p!nk

In [36]:
# Get the frequency of each artist
artist_counts = artists_df['Artists'].value_counts()
top_50_artists = artist_counts.head(50)

# Display the frequency of artists
print(top_50_artists)

Artists
rihanna                     25
ariana grande               19
taylor swift                18
nicki minaj                 17
britney spears              14
lady gaga                   14
katy perry                  13
beyoncé                     12
demi lovato                  9
dua lipa                     9
little mix                   8
selena gomez                 8
justin bieber                7
paramore                     7
bruno mars                   6
charli xcx                   6
doja cat                     6
ava max                      6
avril lavigne                6
selena gomez & the scene     6
sabrina carpenter            6
destiny's child              5
jacob tillberg               5
kesha                        5
miley cyrus                  5
christina aguilera           4
sia                          4
rita ora                     4
olivia rodrigo               4
ku$h drifter                 4
justina valentine            4
one direction                4
chappell roan                4
riff raff                    4
zara larsson                 4
maroon 5                     4
tate mcrae                   4
ed sheeran                   4
flo rida                     4
fifth harmony                4
david guetta                 4
madonna                      3
the chainsmokers             3
twenty one pilots            3
coldplay                     3
meghan trainor               3
fergie                       3
p!nk                         3
ludacris                     3
pharrell williams            3
Name: count, dtype: int64

In [37]:
top_50_artists.to_csv('../data/top_50_artists.csv', header=True)
pd.read_csv('../data/top_50_artists.csv')

                     Artists  count
0                    rihanna     25
1              ariana grande     19
2               taylor swift     18
3                nicki minaj     17
4             britney spears     14
5                  lady gaga     14
6                 katy perry     13
7                    beyoncé     12
8                demi lovato      9
9                   dua lipa      9
10                little mix      8
11              selena gomez      8
12             justin bieber      7
13                  paramore      7
14                bruno mars      6
15                charli xcx      6
16                  doja cat      6
17                   ava max      6
18             avril lavigne      6
19  selena gomez & the scene      6
20         sabrina carpenter      6
21           destiny's child      5
22            jacob tillberg      5
23                     kesha      5
24               miley cyrus      5
25        christina aguilera      4
26                       sia      4
27                  rita ora      4
28            olivia rodrigo      4
29              ku$h drifter      4
30         justina valentine      4
31             one direction      4
32             chappell roan      4
33                 riff raff      4
34              zara larsson      4
35                  maroon 5      4
36                tate mcrae      4
37                ed sheeran      4
38                  flo rida      4
39             fifth harmony      4
40              david guetta      4
41                   madonna      3
42          the chainsmokers      3
43         twenty one pilots      3
44                  coldplay      3
45            meghan trainor      3
46                    fergie      3
47                      p!nk      3
48                  ludacris      3
49         pharrell williams      3

Looking at the dataframe, these are the artists that will be included in my analysis:

Male Artists:
- Justin Bieber
- Bruno Mars
- Ed Sheeran
- Flo Rida
- Pharrell Williams

Female Artists:
- Rihanna
- Ariana Grande
- Taylor Swift
- Nicki Minaj
- Britney Spears

### Getting tracks

In [38]:
justin = get_top_tracks("1uNFoZAHBGtllmzznpCI3s", access_token)
bruno = get_top_tracks("0du5cEVh5yTK9QJze8zA0C", access_token)
ed = get_top_tracks("6eUKZXaKkcviH0Ku9w2n3V", access_token)
flo = get_top_tracks("0jnsk9HBra6NMjO2oANoPY", access_token)
pharrell = get_top_tracks("2RdwBSPQiwcmiDo9kixcl8", access_token)

In [39]:
rihanna = get_top_tracks("5pKCCKE2ajJHZ9KAiaK11H", access_token)
ariana = get_top_tracks("66CXWjxzNUsdJxJ2JdwvnR", access_token)
taylor = get_top_tracks("06HL4z0CvFAxyc27GXpf02", access_token)
nicki = get_top_tracks("0hCNtLu0JehylgoiP8L4Gh", access_token)
britney = get_top_tracks("26dSoYclwsYLMAKD3tpOr4", access_token)

In [40]:
justin_df = pd.DataFrame(justin['tracks'])
bruno_df = pd.DataFrame(bruno['tracks'])
ed_df = pd.DataFrame(ed['tracks'])
flo_df = pd.DataFrame(flo['tracks'])
pharrell_df = pd.DataFrame(pharrell['tracks'])
rihanna_df = pd.DataFrame(rihanna['tracks'])
ariana_df = pd.DataFrame(ariana['tracks'])  
taylor_df = pd.DataFrame(taylor['tracks'])  
nicki_df = pd.DataFrame(nicki['tracks'])  
britney_df = pd.DataFrame(britney['tracks'])

In [41]:
justin_df['artist'] = 'Justin Bieber'
bruno_df['artist'] = 'Bruno Mars'
ed_df['artist'] = 'Ed Sheeran'
flo_df['artist'] = 'Flo Rida'
pharrell_df['artist'] = 'Pharrell Williams'
rihanna_df['artist'] = 'Rihanna'
ariana_df['artist'] = 'Ariana Grande'
taylor_df['artist'] = 'Taylor Swift'
nicki_df['artist'] = 'Nicki Minaj'
britney_df['artist'] = 'Britney Spears'

In [42]:
combined_tracks = pd.concat([justin_df, bruno_df, ed_df, flo_df, pharrell_df, rihanna_df, ariana_df, taylor_df, nicki_df, britney_df], ignore_index=True)
print(combined_tracks)

                                                album  \
0   {'album_type': 'album', 'artists': [{'external...
1   {'album_type': 'album', 'artists': [{'external...
2   {'album_type': 'album', 'artists': [{'external...
3   {'album_type': 'album', 'artists': [{'external...
4   {'album_type': 'album', 'artists': [{'external...
..                                                ...
95  {'album_type': 'album', 'artists': [{'external...
96  {'album_type': 'single', 'artists': [{'externa...
97  {'album_type': 'album', 'artists': [{'external...
98  {'album_type': 'album', 'artists': [{'external...
99  {'album_type': 'album', 'artists': [{'external...

                                              artists  disc_number  \
0   [{'external_urls': {'spotify': 'https://open.s...            1
1   [{'external_urls': {'spotify': 'https://open.s...            1
2   [{'external_urls': {'spotify': 'https://open.s...            1
3   [{'external_urls': {'spotify': 'https://open.s...            1
4   [{'external_urls': {'spotify': 'https://open.s...            1
..                                                ...          ...
95  [{'external_urls': {'spotify': 'https://open.s...            1
96  [{'external_urls': {'spotify': 'https://open.s...            1
97  [{'external_urls': {'spotify': 'https://open.s...            1
98  [{'external_urls': {'spotify': 'https://open.s...            1
99  [{'external_urls': {'spotify': 'https://open.s...            1

    duration_ms  explicit              external_ids  \
0        141805      True  {'isrc': 'USSM12103949'}
1        153190     False  {'isrc': 'USUM72102635'}
2        233720     False  {'isrc': 'USUM71516761'}
3        200786     False  {'isrc': 'USUM71516760'}
4        227986     False  {'isrc': 'USUM71205367'}
..          ...       ...                       ...
95       224400     False  {'isrc': 'USJI10800838'}
96       255400     False  {'isrc': 'USJI10000522'}
97       202245     False  {'isrc': 'GBUM72205030'}
98       225080     False  {'isrc': 'USJI11100103'}
99       216520     False  {'isrc': 'USJI10801329'}

                                        external_urls  \
0   {'spotify': 'https://open.spotify.com/track/56...
1   {'spotify': 'https://open.spotify.com/track/6I...
2   {'spotify': 'https://open.spotify.com/track/50...
3   {'spotify': 'https://open.spotify.com/track/09...
4   {'spotify': 'https://open.spotify.com/track/6Q...
..                                                ...
95  {'spotify': 'https://open.spotify.com/track/4f...
96  {'spotify': 'https://open.spotify.com/track/0Y...
97  {'spotify': 'https://open.spotify.com/track/3l...
98  {'spotify': 'https://open.spotify.com/track/6T...
99  {'spotify': 'https://open.spotify.com/track/2h...

                                                 href                      id  \
0   https://api.spotify.com/v1/tracks/567e29TDzLwZ...  567e29TDzLwZwfDuEpGTwo
1   https://api.spotify.com/v1/tracks/6I3mqTwhRpn3...  6I3mqTwhRpn34SLVafSH7G
2   https://api.spotify.com/v1/tracks/50kpGaPAhYJ3...  50kpGaPAhYJ3sGmk6vplg0
3   https://api.spotify.com/v1/tracks/09CtPGIpYB4B...  09CtPGIpYB4BrO8qb1RGsF
4   https://api.spotify.com/v1/tracks/6QFCMUUq1T2V...  6QFCMUUq1T2Vf5sFUXcuQ7
..                                                ...                     ...
95  https://api.spotify.com/v1/tracks/4fixebDZAVTo...  4fixebDZAVToLbUCuEloa2
96  https://api.spotify.com/v1/tracks/0YWUHZPJVg4i...  0YWUHZPJVg4iujddsJDwhM
97  https://api.spotify.com/v1/tracks/3lFwSDBCNo3C...  3lFwSDBCNo3CcN09UppUnm
98  https://api.spotify.com/v1/tracks/6T689Jvh5KrS...  6T689Jvh5KrSXyaPtUWZtQ
99  https://api.spotify.com/v1/tracks/2hdy9Wt9qp7M...  2hdy9Wt9qp7M7d0U3ossu2

    is_local  is_playable                       name  popularity preview_url  \
0      False         True  STAY (with Justin Bieber)          82        None
1      False         True                      Ghost          83        None
2      False         True              Love Yourself          83        None
3      False         True                      Sorry          83        None
4      False         True          Beauty And A Beat          80        None
..       ...          ...                        ...         ...         ...
95     False         True                  Womanizer          77        None
96     False         True   My Only Wish (This Year)          75        None
97     False         True             Hold Me Closer          56        None
98     False         True                   Criminal          70        None
99     False         True              If U Seek Amy          69        None

    track_number   type                                   uri          artist
0              3  track  spotify:track:567e29TDzLwZwfDuEpGTwo   Justin Bieber
1             11  track  spotify:track:6I3mqTwhRpn34SLVafSH7G   Justin Bieber
2              5  track  spotify:track:50kpGaPAhYJ3sGmk6vplg0   Justin Bieber
3              4  track  spotify:track:09CtPGIpYB4BrO8qb1RGsF   Justin Bieber
4             10  track  spotify:track:6QFCMUUq1T2Vf5sFUXcuQ7   Justin Bieber
..           ...    ...                                   ...             ...
95             1  track  spotify:track:4fixebDZAVToLbUCuEloa2  Britney Spears
96             1  track  spotify:track:0YWUHZPJVg4iujddsJDwhM  Britney Spears
97             1  track  spotify:track:3lFwSDBCNo3CcN09UppUnm  Britney Spears
98            12  track  spotify:track:6T689Jvh5KrSXyaPtUWZtQ  Britney Spears
99             6  track  spotify:track:2hdy9Wt9qp7M7d0U3ossu2  Britney Spears

[100 rows x 18 columns]

In [43]:
combined_tracks = combined_tracks[['name', 'artist']]

In [44]:
gender_mapping = {
    'Justin Bieber': 0,  # Male
    'Bruno Mars': 0,     # Male
    'Ed Sheeran': 0,     # Male
    'Flo Rida': 0,       # Male
    'Pharrell Williams': 0,  # Male
    'Rihanna': 1,        # Female
    'Ariana Grande': 1,  # Female
    'Taylor Swift': 1,   # Female
    'Nicki Minaj': 1,    # Female
    'Britney Spears': 1  # Female
}

combined_tracks['gender'] = combined_tracks['artist'].map(gender_mapping)

In [45]:
combined_tracks.to_csv('../data/combined_top_tracks.csv', index=False)

In [46]:
combined_tracks = pd.DataFrame(combined_tracks)
combined_tracks

                         name          artist  gender
0   STAY (with Justin Bieber)   Justin Bieber       0
1                       Ghost   Justin Bieber       0
2               Love Yourself   Justin Bieber       0
3                       Sorry   Justin Bieber       0
4           Beauty And A Beat   Justin Bieber       0
..                        ...             ...     ...
95                  Womanizer  Britney Spears       1
96   My Only Wish (This Year)  Britney Spears       1
97             Hold Me Closer  Britney Spears       1
98                   Criminal  Britney Spears       1
99              If U Seek Amy  Britney Spears       1

[100 rows x 3 columns]

In [47]:
engine = create_engine('sqlite:///../data/spotify_data.db', echo=True)

# Step 3: Save the DataFrame to the SQLite database (table name: 'top_tracks')
combined_tracks.to_sql('top_tracks', engine, if_exists='replace', index=False)

print("Table 'top_tracks' has been created successfully in the database.")

2024-11-29 10:52:01,478 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-29 10:52:01,479 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("top_tracks")
2024-11-29 10:52:01,480 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-29 10:52:01,481 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("top_tracks")
2024-11-29 10:52:01,481 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-29 10:52:01,483 INFO sqlalchemy.engine.Engine
CREATE TABLE top_tracks (
	name TEXT,
	artist TEXT,
	gender BIGINT
)


2024-11-29 10:52:01,484 INFO sqlalchemy.engine.Engine [no key 0.00055s] ()
2024-11-29 10:52:01,485 INFO sqlalchemy.engine.Engine INSERT INTO top_tracks (name, artist, gender) VALUES (?, ?, ?)
2024-11-29 10:52:01,486 INFO sqlalchemy.engine.Engine [generated in 0.00053s] [('STAY (with Justin Bieber)', 'Justin Bieber', 0), ('Ghost', 'Justin Bieber', 0), ('Love Yourself', 'Justin Bieber', 0), ('Sorry', 'Justin Bieber', 0), ('Beauty And A Beat', 'Justin Bieber', 0), ('Baby', 'Justin Bieber', 0), ('bad guy', 'Justin Bieber', 0), ("I Don't Care (with Justin Bieber)", 'Justin Bieber', 0)  ... displaying 10 of 100 total bound parameter sets ...  ('Criminal', 'Britney Spears', 1), ('If U Seek Amy', 'Britney Spears', 1)]
2024-11-29 10:52:01,487 INFO sqlalchemy.engine.Engine COMMIT
Table 'top_tracks' has been created successfully in the database.